
#main{
    padding:10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:15px;
    justify-content: center;
}
#main div{
    /* border:1px solid teal; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}